*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a
{
    color: black;
    text-decoration: none;
}

header
{
    width: 100vw;
    height: 75px;
    box-shadow: 0 0 20px 0 #aeaeaa;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

#header-logo
{
    font-size: 26px;
    font-weight: 600;
}

main
{
    padding: 50px 50px;
}

#subject
{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
}

.subject-card
{
    padding: 50px;
    border-radius: 14px;
    background: #f1f4f8;
    transition: 0.2s;
    cursor: pointer;
}

.subject-card:hover
{
    transform: translate(0, -2px);
}

.subject-card-link
{
    color: black;
    text-decoration: none;
}